@import '../../node_modules/flatpickr/dist/flatpickr.min.css';
@import 'variables';
@import 'mixins';

/* LAYOUT SECTIONS */

.dashboard {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    'header header'
    'sidebar main';
  @include full-size();
  font-family: 'Hind Madurai';
  background: white;
  color: $dark-gray;
  text-align: center;
}

header {
  display: flex;
  grid-area: header;
  background-color: #1CA3BA;
  justify-content: space-between;
}

aside {
  grid-area: sidebar;
  background-color: #CDFFF8;
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    'current current'
    'pending-upcoming past';
  grid-area: main;
  overflow-y: auto;
  background-color: $light-gray;
}

.alert {
  grid-area: alert;
  background: $approve;
  padding: .5em;
  margin: .5em;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

.current {
  grid-area: current;
  text-align: center;
}

/* GLOBAL STYLES */

* {
  box-sizing: border-box;
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

h1 {
  margin: 1.5em 0 .2em 0;
  font-family: 'Cabin Condensed';
  text-shadow: 0px 0px 3px black;
  font-size: 5em;

}

h2 {
  margin: .1em 0 0 .3em;
  margin: 0;
  color: white;
  font-family: 'Cabin Condensed';
  font-size: 3em;
  cursor: pointer;
}

h3 {
  margin: 20px;
}

form {
  min-width: 15em;
  width: 25%;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  background-color: white;
  background: rgba(255, 255, 255, 0.5);
}

input {
  display: block;
  width: 100%;
  height: 2em;
  border: .2px solid black;
  box-sizing: border-box;
  padding-left: .4em;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, 1);
  font-size: 1.2em;
}

button {
  width: 10em;
  height: 2em;
  background: rgba(255, 255, 255, 1);;
  font-size: 1em;
  @include rounded-corners(2px)
  outline: 0;
  box-shadow: .5px .5px .5px black;
}

header h3 {
  border: 1px solid white ;
  padding: 1em;
  margin-top: .8em;
  @include rounded-corners(.2em)
  color: white;
  line-height: 0;
}

.display-cost {
  display: block;
  font-size: 2.5em;
  line-height: .9;
}

.trip-card {
  display: flex;
  margin: 1em 20px 1em 18px;
  padding: 1em;
  background: white;
  text-align: left;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.trip-card h3 {
  margin: 0;
  line-height: 1.9;
}

/* LOGIN SCREEN */

.log-in-screen {
  height: 100%;
  overflow: hidden;
  color: white;
  background: url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-family: 'Hind Madurai';
}

.login-alert {
  margin-bottom: 1em;
  color: red;
}

.log-in {
  cursor: pointer;
}

/* AGENCY DASHBOARD */

.dashboard-agency main {
  display: block;
  justify-content: center;
  grid-area: main;
  background-color: $light-gray;
}

/* TRAVELER DASHBOARD */

#user-name-desktop {
  display: block;
}

#user-name-mobile {
  display: none;
}

.current-trip .trip-details {
  padding: 0 1em;
}

.pending-upcoming {
  grid-area: pending-upcoming;
}

.past {
  grid-area: past;
}

.spent-container {
  margin-top: 2em;
}

.book-icon {
  width: 40%;
}

.book-trip {
  width: 75%;
  margin: 1em auto 0 auto;
  padding: 1em;
  background: white;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.book-trip h3 {
  margin: 0
}

.card-img {
  width: 20%;
  height: 5em;
  object-fit: cover;
  margin-right: 1em;
}

.past .card-img {
  width: 40%;
  height: 5em;
  object-fit: cover;
  margin-right: 1em;
}

.upcoming-wrapper {
  height: 100%;
  padding-top: 1em;
  border-right: 1px solid gray;
}

.past-wrapper {
  padding-top: 1em;
}

.past-wrapper > h3,
.upcoming-wrapper > h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: .1rem;
}

/* BOOK TRIP STYLES */

.book-trip-view {
  display: block;
  padding: 2em;
}

.destinations-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.destinations-wrapper::after {
  content: '';
  flex-grow: 1000000000;
}

.destination-tile {
  flex: 1 1 11.5em;
  position: relative;
  height: 10em;
  margin: 0;
  padding: .2em;
  cursor: pointer;
}

.destinations-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  background-color: rgba(0,0,255,0.2);
}

.destination-name {
  top: .4em;
  display: inline;
  position: relative;
  z-index: 1;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: .2em;
  color: white;
  background-color: #525252;
  font-size: 1.3em;
  text-shadow: .2px .4px 1.8px rgba(0,0,0,0.6);;
}

.book-trip-view h3 {
  font-size: 2em
}

.destination-name-wrapper {
  position: absolute;
  top: 0
}

.select-trip-details h4 {
  margin-top: 1em;
  font-size: 1.5em;
}

.select-trip-details input {
  flex: 0 0 0;
  width: 2.5em;
  margin-top: 1em;
  padding: 0;
  text-align: center;
}

.plus-minus-img {
  width: 2.5em;
  height: 2.5em;
  margin: 1em auto;
  text-align: center;
  cursor: pointer;
}

.select-trip-details input[type=number]::-webkit-inner-spin-button,
.select-trip-details input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-travelers-wrapper {
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
}

.options-wrapper {
  display: flex;
  flex: 0 0 50%;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.calculate-cost {
  flex: 0 0 50%
}

.calculate-cost .display-cost {
  margin-top: .5em;
}

.options-wrapper h4 {
  flex: 0 0 100%
}

.lower-wrapper {
  display: flex;
  justify-content: space-around;
}

.submit-request {
  width: 15em;
  height: 3em;
  border: 0;
  @include rounded-corners(.5em)
  color: white;
  background: #57DE92;
  text-transform: uppercase;
  cursor: pointer;
}

.flatpickr-calendar {
  margin: 0 auto;
}

.status {
  display: flex;
  align-items: center;
}

.status-btn {
  padding: .3em .6em;
  @include rounded-corners(1em)
  color: white;
}

.approved .status-btn {
  background: $approve;
}

.pending .status-btn {
  background: $pending;
}

.trip-details {
  flex: 1 0 auto;
}

.dashboard-agency .trip-details {
  display: flex;
  flex: 0 1 80%;
}

.current-trip img {
  width: 60%;
}

.current-trip {
  justify-content: center;
}

.current-label .status-btn {
  background: #2B77FF;
}

.current-label {
  display: flex;
  align-items: center;
  margin-right: 3em;
  margin-left: 1em;
}

/* AGENCY STYLES */

.agency-btn {
  flex: 0 0 5%;
  margin: 0 0em;
  border: 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.approve-deny-btns {
  display: flex;
  flex: 0 0 20%;
  justify-content: flex-end;
  width: 1em;
}

.approve-btn {
  margin-right: 1em;
  background: $approve;
}

.deny-btn {
  background: red;
}

.delete-btn {
  background: red;
}

.client-details-btn {
  flex: 0 auto;
  width: auto;
  background: blue;
}

.trip-req {
  flex: 0 0 25%;
  font-size: $font-trip-search;
  line-height: 1.9;
}

.search-result {
  font-size: $font-trip-search;
  line-height: 1.9;
}

.dashboard-agency .trip-card {
  display: flex;
  justify-content: space-between;
}

.search {
  width: 15em;
  margin: .8em 2em 0 0;
}

.search-img {
  height: 50%;
  margin: 1.1em .3em 0 0;
}

.search-user-name-wrapper {
  display: flex;
  justify-content: flex-end;
}

/* USER PROFILE */

.user-profile-wrapper {
  margin-top: 1em
}

.user-profile-name-amount-spent {
  display: flex;
  justify-content: space-between
}

.user-profile {
  margin: 3em;
}

.user-profile h2 {
  text-align: left;
  color: #3C3C3C;
  font-size: 2em;
  font-family: 'Hind Madurai';
}

.user-profile h3 {
  line-height: 1;
}

.trip-options {
  display: flex;
  justify-content: space-around;
  flex: 0 0 80%;
  width: 100%;
}

.user-profile .trip-card {
  justify-content: space-between;
}

.trip-options .trip-req,
.trip-options .status {
  flex: 0 0 20%;
}

.trip-options .trip-req:first-of-type {
  flex: 0 0 35%;
}

.agent-options {
  display: flex;
  justify-content: flex-end;
  width: 3em;
}

.user-profile .agency-btn {
  margin-left: .6em;
}

.close-btn {
  height: 1.5em;
  margin: 0 2em 1em 0;
}

.close-btn-container {
  display: flex;
  justify-content: flex-end;
}


@media screen and (max-width: 1000px) {

  main {
    overflow-y: visible;
  }

  #user-name-desktop {
    display: none;
  }

  #user-name-mobile {
    display: block;
  }

  .trip-details {
    flex: 1 1 auto;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
  }

  .past .card-img {
    width: 25%
  }

  aside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
  }

  .spent-container {
    margin: 0;
  }

  .book-icon {
    width: 2em;
  }

  .book-trip {
    width: 10em;
    margin: 2em 0;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  header h3 {
    @include rounded-corners(100%)
    padding: 1.7em 1em;
  }

  h2 {
    padding-top: .3em;
  }

  .lower-wrapper {
    display: block;
  }

  .search-img {
    height: 2em;
  }

  .dashboard-agency header {
    display: flex;
    flex-direction: column;
  }

  .search-user-name-wrapper {
    justify-content: center;
    margin: 1em 0;
  }

  .search {
    margin: 0;
  }

  .search-img {
    margin: .2em .3em 0 0;
  }

  .approve-deny-btns {
    justify-content: center;
    flex: 1 0 100%;
    margin-top: 1em;
  }

  .approve-btn {
    margin-right: 2em;
  }

  .agency-btn {
    width: auto;
    padding: 1em;
    height: auto;
  }

  .dashboard-agency .trip-card {
    flex-wrap: wrap;
  }

  .trip-details {
    flex-direction: column;
    flex: 0 0 100%;
  }

  .user-profile .trip-card {
    flex-direction: column;
  }

  .trip-options {
    flex-direction: column;
  }

  .agent-options {
    justify-content: center;
    width: 100%;
    margin-top: 1em;
  }

  .user-profile {
    margin: 0;
  }

  .close-btn-container {
    margin-top: 2em;
  }

  .dashboard-agency .trip-details {
    flex: 0 1 80%;
    display: flex;
  }

  .dashboard .trip-details {
    flex: 1 1 auto;
  }

  .current-trip img {
    width: 25%;
  }

  .current-trip .trip-details {
    padding: 0 1em;
  }

  .current-label {
    margin: 0;
    text-align: center;
  }

}
